<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>

  <title>My Recipes</title>

  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/unsemantic-grid-responsive.css"/>
  <link rel="stylesheet" href="css/styles.css"/>

</head>

<body>

  <nav>
    <a href="profile.html">
      <span sec:authentication="name"></span>
    </a>
    &bull;
    <a th:href="@{/logout}">
      logout
    </a>
  </nav>

  <div class="grid-container">

    <div class="grid-100">
      <a href="index.html">
        <h1>
          <img src="images/chefbot.svg" height="60px"/>
          <br/>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-30">
            <select id="category-select">
              <option value="">All Categories</option>
              <option th:selected="${breakfast} ? 'true' : 'false'" value="breakfast">Breakfast</option>
              <option th:selected="${lunch} ? 'true' : 'false'" value="lunch">Lunch</option>
              <option th:selected="${dinner} ? 'true' : 'false'" value="dinner">Dinner</option>
              <option th:selected="${dessert} ? 'true' : 'false'" value="dessert">Dessert</option>
            </select>
          </div>
          <div class="grid-40">
            <input placeholder="Search"></input>
        </div>
          <div class="grid-30">
            <div class="flush-right">
              <button onclick="location.href = 'add';">+ Add Recipe</button>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row addHover" th:each="recipeEntry : ${recipeMap}">
          <a th:href="|/recipe/${recipeEntry.key.id}|">
            <div class="grid-70">
              <p>
                <span><img th:src="${recipeEntry.value} ? @{/images/favorited.svg} : @{/images/favorite.svg}" height="12px" th:text="' ' + ${recipeEntry.key.name}"/> </span>
                <!--Baked Alaskan Salmon with Asparagus-->
              </p>
            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a th:href="|/recipe/${recipeEntry.key.id}/edit|"> <img src="images/edit.svg" height="12px"/> Edit </a>
                  <a th:href="|/recipe/${recipeEntry.key.id}/delete|"> <img src="images/delete.svg" height="12px"/> Delete </a>
                </p>
              </div>
            </div>
          </div>
        </div> <div class="clear"></div>

        </div> <div class="clear"></div>

        <div class="row">&nbsp;</div>

    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script th:src="@{/js/main.js}"></script>
</body>
</html>
